div,
img {
  box-sizing: border-box;
}

.container {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 2rem;
}

.section--title {
  padding-bottom: 2rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

img {
  max-width: 100%;
  width: 100%;
  border: 1px solid #ddd;
}

.link {
  opacity: 1 transition: opacity .15s ease-in;
  color: #111;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.link:hover,
.link:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}

.link:active {
  opacity: .8;
  transition: opacity .15s ease-out;
}