div,
img {
  box-sizing: border-box;
}

.container {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 2rem;
}

.section--title {
  padding-bottom: 2rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

img {
  max-width: 100%;
  width: 100%;
  border: 1px solid #ddd;
}

.lozad {
  /* cursor: url("./you-image-directory/plus_cursor.png") 25 25, auto; */
}
